<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>606339091336-ttk802jpj560lo756f1i1vn7bt8jmqnk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.606339091336-ttk802jpj560lo756f1i1vn7bt8jmqnk</string>
	<key>API_KEY</key>
	<string>AIzaSyA6xOGZa7Ho1INH39IhVui7bdgim1QF6H0</string>
	<key>GCM_SENDER_ID</key>
	<string>606339091336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personal.NettbutikkApp</string>
	<key>PROJECT_ID</key>
	<string>nettbutikk-695c6</string>
	<key>STORAGE_BUCKET</key>
	<string>nettbutikk-695c6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:606339091336:ios:e4e0ec7c7f4f5a3a31083d</string>
</dict>
</plist>